---
import JdBaseLayout from "../../layouts/jd-base-layout.astro";

const pageTitle = "Jashinchan - Staffcast";
---

<JdBaseLayout title={pageTitle}>
  <h1>hello world - staffcast</h1>
</JdBaseLayout>
