---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BookCard from "../../components/BookCard.astro";
import Button from "../../components/Button.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const books: CollectionEntry<"books">[] = await getCollection("books");
---

<BaseLayout>
  <div class="content">
    <h2>Livros</h2>

    {books.map((book: CollectionEntry<"books">) => <BookCard book={book} />)}

    {!books.length && <p>Nenhum livro para exibir.</p>}
  </div>
</BaseLayout>

<style>
  h2 {
    padding-right: 10px;
    border-right: 8px solid #ebe5f2;
    border-bottom: 8px solid #f9f6fc;
    margin-bottom: 40px;
    text-align: right;
  }
</style>
