---
import { getCollection, type CollectionEntry } from "astro:content";
import ArticleListing from "@components/ArticleListing.astro";
import Button from "@components/Button.astro";
import { shouldShowArticlesButton, getArticlesGrid } from "@utils/articles";

const allArticles = await getCollection("blog");
const sortedArticles = allArticles.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
const featuredArticles = getArticlesGrid(sortedArticles);
const showAllArticlesButton = shouldShowArticlesButton(sortedArticles);
---

<div class="featured-articles">
  <div class="section-header">
    <h2 class="title">Artigos em Destaque</h2>
    <p class="subtitle">
      Compartilhando insights sobre desenvolvimento, Linux e tecnologia.
    </p>
  </div>

  <div
    class:list={[
      "articles-grid",
      { "articles-grid--single": featuredArticles.length === 1 },
    ]}
  >
    {featuredArticles.map((article) => <ArticleListing article={article} />)}
  </div>

  {
    showAllArticlesButton ? (
      <div class="section-actions">
        <Button text="Ver todos os artigos" href="/blog" />
      </div>
    ) : null
  }
</div>

<style>
  .section-header {
    text-align: center;
    margin-bottom: 4rem;
  }

  .subtitle {
    margin-top: -1rem;
    font-size: 1.1rem;
  }

  .articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 360px), 1fr));
    gap: 2rem;
    justify-content: center;
  }

  .articles-grid--single {
    max-width: 400px;
    margin-inline: auto;
  }

  .section-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }

  @media (width >= 1200px) {
    .articles-grid {
      grid-template-columns: repeat(3, 1fr);
    }

    .articles-grid--single {
      grid-template-columns: 1fr;
    }
  }
</style>
