---
import { getCollection, type CollectionEntry } from "astro:content";
import ProjectListing from "@components/ProjectListing.astro";
import Button from "@components/Button.astro";
import { shouldShowProjectsButton, getProjectsGrid } from "@utils/projects";

const allProjects: CollectionEntry<"projects">[] =
  await getCollection("projects");
const featuredProjects = getProjectsGrid(allProjects);
const showAllProjectsButton = shouldShowProjectsButton(allProjects);
---

<div class="projects">
  <div class="section-header">
    <h2 class="title">Projetos em Destaque</h2>
    <p class="subtitle">
      Explorando soluções digitais, do desenvolvimento de sistemas a interfaces
      modernas.
    </p>
  </div>

  <div
    class:list={[
      "projects__grid",
      { "projects__grid--single": featuredProjects.length === 1 },
    ]}
  >
    {featuredProjects.map((project) => <ProjectListing project={project} />)}
  </div>

  {
    showAllProjectsButton ? (
      <div class="section-actions">
        <Button text="Ver todos os projetos" href="/project" />
      </div>
    ) : null
  }
</div>

<style>
  .section-header {
    text-align: center;
    margin-bottom: 4rem;
  }

  .subtitle {
    margin-top: -1rem;
    font-size: 1.1rem;
  }

  .projects__grid {
    display: grid;
    gap: 2.5rem;
  }

  .projects__grid--single {
    max-width: 600px;
    margin-inline: auto;
  }

  .section-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }

  @media (width >= 768px) {
    .projects__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: clamp(1.5rem, 3vw, 2.25rem);
    }

    .projects__grid--single {
      grid-template-columns: 1fr;
    }
  }
</style>
