---
import { getCollection, type CollectionEntry } from "astro:content";
import ProjectListing from "../../../components/ProjectListing.astro";

const projects: CollectionEntry<"projects">[] = await getCollection("projects");
---

<div class="projects">
  <h2 class="title">Projetos em Destaque</h2>

  <div class="projects__grid">
    {
      projects.map((project) => {
        return <ProjectListing project={project} />;
      })
    }
  </div>
</div>

<style>
  .title {
    color: var(--primary-clr-400);
  }

  .projects__grid {
    display: grid;
    gap: 2.5rem;
  }

  @media (width >= 768px) {
    .projects__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: clamp(1.5rem, 3vw, 2.25rem);
    }
  }
</style>
