---
const ttlStory = "/assets/images/story/hero/ttl_story.png";
const ttlSpStory = "/assets/images/story/hero/ttl_sp_story.png";
const textStory = "/assets/images/story/hero/text_story.png";
---

<header class="hero-intro">
  <h1 class="page-title">
    <picture>
      <source srcset={ttlSpStory} media="(max-width: 750px)" />
      <img src={ttlStory} alt="STORY" />
    </picture>
  </h1>

  <img
    src={textStory}
    alt="邪神ちゃんとゆりねの物語"
    class="story-intro-text"
  />
</header>

<style lang="scss">
  .story-intro-text {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    max-width: 1000px;

    @media screen and (max-width: 750px) {
      padding-bottom: 50px;
    }
  }
</style>
