---
const ttlStory = "/assets/images/story/hero/ttl_story.png";
const ttlSpStory = "/assets/images/story/hero/ttl_sp_story.png";
const textStory = `url("/assets/images/story/hero/text_story.png")`;
---

<header class="hero-intro">
  <h1 class="page-title">
    <picture>
      <source srcset={ttlSpStory} media="(max-width: 750px)" />
      <img src={ttlStory} alt="STORY" />
    </picture>
  </h1>

  <div class="story-intro-image"></div>
</header>

<style lang="scss" define:vars={{ textStory }}>
  .story-intro-image {
    width: 100%;
    min-height: 220px;
    background-image: var(--textStory);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    margin-bottom: 16px;

    @media screen and (max-width: 750px) {
      min-height: 120px;
    }
  }
</style>
