---
const ttlCharacter = "/assets/images/character/titles/ttl_character.png";
const ttlSpCharacter = "/assets/images/character/titles/ttl_sp_character.png";
---

<section class="hero-intro">
  <h1 class="page-title">
    <picture>
      <source srcset={ttlSpCharacter} media="(max-width: 750px)" />
      <img src={ttlCharacter} alt="CHARACTER" />
    </picture>
  </h1>
</section>
