---
import { characters } from "@data/characters";
---

<section class="character-list">
  <ul class="section-content-item">
    {
      characters.map((char) => (
        <li>
          <img src={char.image} alt={char.id} loading="lazy" />
        </li>
      ))
    }
  </ul>
</section>

<style lang="scss">
  .section-content-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 3.1rem;
      img {
        width: 450px;
        height: auto;
        display: block;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .section-content-item {
      justify-content: center;

      li img {
        width: 100%;
        max-width: 450px;
      }
    }
  }
</style>
