<div class="english-section">
  <div class="english-header">
    <h2>
      The Guideline for the Derivative Creation of the “DROPKICK ON MY DEVIL!!!
      X”
    </h2>
  </div>

  <p>
    KADOKAWA CORPORATION (“we” or “us”), acting on behalf of the rights-holders
    of “Jashinchan Dropkick X” (the “Anime”), would like to support a derivative
    creation by viewers and fans of the Anime. Therefore, in order to ensure
    that everyone may use the Anime derivatively free from anxiety, we release
    this guideline.
  </p>

  <p>
    Within the scope of this guideline, you may create new contents using the
    Anime (the “Derivative Creation”*) and distribute the resulted contents
    created by you (the “Derivative Work”) on YouTube or Niconico (as defined
    below) without obtaining our prior consent. And you may also distribute a
    portion of the Derivative Work on the social media for the purpose of
    inducing potential viewers to the Derivative Work distributed on YouTube or
    Niconico (the “Inducement” ).
  </p>

  <div class="english-example-box">
    <p>*Examples of the Derivative Creation is as follows.</p>
    <ul>
      <li>・Clipping videos from the Anime with some comments.</li>
      <li>
        ・Insight, commentary, or introductory videos that use the Anime or
        images of its characters.
      </li>
      <li>
        ・Anime music videos (AMVs) (music videos consisting of clips from the
        Anime set to an audio track.
      </li>
    </ul>
  </div>

  <div class="english-block">
    <h3>
      ■The content that may be the subject of the Derivative Creation under this
      guideline is as follows (the “Licensed Contents”)
    </h3>
    <p>Jashinchan Dropkick X (12 episodes)</p>
    <p>
      However, you may use the Licensed Contents in and to each Derivative Work
      for up to 10 minutes.<br />
      Please note that the following are not included in the Licensed Contents and
      this guideline does not apply to the following.
    </p>
    <ul class="simple-list">
      <li>・Jashinchan Dropkick (1st season)</li>
      <li>・Jashinchan Dropkick’ (2nd season)</li>
    </ul>
  </div>

  <div class="english-block">
    <h3>
      ■ You may distribute the Derivative Work only on the following Platform
    </h3>
    <ul class="simple-list">
      <li>
        ・YouTube (<a href="https://www.youtube.com/" target="_blank"
          >https://www.youtube.com/</a
        >)
      </li>
      <li>
        ・Niconico (<a href="https://www.nicovideo.jp/" target="_blank"
          >https://www.nicovideo.jp/</a
        >)
      </li>
    </ul>
    <p>
      You may upload the Derivative Work only on the above two platforms, but
      you may tweet a part of the Licensed Contents in the form of quoting. For
      the avoidance of doubt, you may not upload and distribute the Derivative
      Work directly to and on the Twitter.<br />
      Please note that this guideline does not apply to any distribution that requires
      viewers to pay fees for viewing, such as distribution limited to the member
      of the YouTube channel memberships or Niconico paid channel subscriptions.
    </p>
  </div>

  <div class="english-header">
    <h3>&lt;The Guideline for the Derivative Work on YouTube&gt;</h3>
  </div>

  <div class="english-block">
    <h4>■1■ Pre-registration of your contact information</h4>
    <p>
      Before distributing the Derivative Work, you are required to register your
      contact information and other details through the link below.<br />
      <a href="https://post.kadokawa.jp/csp_entry" target="_blank"
        >https://post.kadokawa.jp/csp_entry</a
      >
    </p>
    <p>
      You shall register for each YouTube channel that will distribute the
      Derivative Work. We will not return our reply to you in response to your
      registration. You may distribute the Derivative Work once you have
      registered.
    </p>
    <p class="english-note">
      We may from time to time contact you to your registered address. (e.g., if
      you fall under the Prohibitions described below, we may notify you to that
      effect. By responding to the notice, you may be able to avoid the penalty
      levied by YouTube. (Please note, however, that we do not guarantee that
      you will so avoid.)
    </p>
  </div>

  <div class="english-block">
    <h4>■2■Credit</h4>
    <p>
      When you distribute the Derivative Work, you shall be sure to place the
      following legends with the Derivative Work.
    </p>
    <div class="english-quote-box">
      <p>———- Quoting ———-</p>
      <p>
        This content is distributed in accordance with the Guideline for
        Derivative Creation of the Jashinchan Dropkick X.
      </p>
      <p>
        ◆Information related to the Jashinchan Dropkick X:<br />
        Official website: <a href="http://jashinchan.com/"
          >http://jashinchan.com/</a
        ><br />
        YouTube: <a href="https://bit.ly/3qMROpO">https://bit.ly/3qMROpO</a><br
        />
        Twitter: <a href="https://twitter.com/jashinchan_pj"
          >https://twitter.com/jashinchan_pj</a
        >
      </p>
      <p>
        ◆Information related to the Derivative Creation:<br />
        The guideline for the derivative creation of the Jashinchan Dropkick X: <a
          href="http://jashinchan.com/special">http://jashinchan.com/special</a
        ><br />
        Report of the unfair use: <a href="https://bit.ly/3KTtjiJ"
          >https://bit.ly/3KTtjiJ</a
        ><br />
        Copyright ID: #A00000000000002535<br />
        Cooperator for licensing:#CreatorSupportProgram<br />
        Official Twitter of the Creator Support Program: <a
          href="https://bit.ly/3zXvoYF">https://bit.ly/3zXvoYF</a
        >
      </p>
      <p>———- End of the Quote ———-</p>
    </div>
  </div>

  <div class="english-block">
    <h4>■3■Monetization</h4>
    <p>
      If you desire to monetize the Derivative Work, you are required to take
      the following steps in advance.<br />
      We, KADOKAWA CORPORATION, have been exclusively licensed by the rights-holder
      of the Anime to grant license to create the Derivative Work and distribute the
      Derivative Work on YouTube. And we are designated by the rights-holders of the
      Anime as the YouTube Multi-Channel Network (MCN) operator.
    </p>
    <p>
      (MCN) <a
        href="https://support.google.com/youtube/answer/2737059"
        target="_blank">https://support.google.com/youtube/answer/2737059</a
      >
    </p>
    <div class="english-sub-step">
      <p>(1) Your participation in the YouTube Partner Program (YPP).</p>
      <p>
        (YPP) <a
          href="https://support.google.com/youtube/answer/72851"
          target="_blank">https://support.google.com/youtube/answer/72851</a
        >
      </p>
      <p>
        (2) Your execution of the Service Agreement related to the “Creator
        Support Program” provided by us as the YouTube Multi-Channel Network.
      </p>
      <p>
        You will need to use the “Creator Support Program” and pay us the
        copyright fee for the Licensed Contents and the service fee for the
        “Creator Support Program” from the revenue generated by your YouTube
        channel.
      </p>
      <p>
        To use the “Creator Support Program”, you may apply from the following
        link.<br />
        <a href="https://wwws.kadokawa.co.jp/support/csp/" target="_blank"
          >https://wwws.kadokawa.co.jp/support/csp/</a
        >
      </p>
    </div>
  </div>

  <div class="english-block">
    <h4>■4■ Points to note when a “Copyright claim” notice appears.</h4>
    <p>
      When you distribute the Derivative Work on YouTube, a “Copyright claim”
      notice from the “KADOKAWA Creator Support Program” may appear.<br />
      This notice is automatically displayed when the Derivative Work includes the
      Licensed Contents. This is not a claim of copyright infringement, so please
      do not “Dispute the claim”. You do not have to remove or set the Derivative
      Work as private.<br />
      For the avoidance of doubt, please note that the above does not apply to “Copyright
      claim” from parties other than the “KADOKAWA Creator Support Program”. In such
      case, you are required to respond appropriately to such “Copyright claim”.
    </p>
  </div>

  <div class="english-block">
    <h4>
      ■5■ Inquiries for the guideline for the Derivative Work on YouTube /
      Inquiries.KADOKAWA CORPORATION
    </h4>
    <p>csp-info@ml.kadokawa.jp</p>
  </div>

  <div class="english-header">
    <h3>&lt;The Guideline for the Derivative Work on the Niconico&gt;</h3>
  </div>

  <div class="english-block">
    <h4>■1■ How to distribute the Derivative Work on Niconico</h4>
    <p>
      We have released information regarding the Derivative Creation of the
      Licensed Contents on Niconico at “Niconi Commons”.<br />
      <a href="https://commons.nicovideo.jp/material/nc285219" target="_blank"
        >https://commons.nicovideo.jp/material/nc285219</a
      >
    </p>
    <p>
      If you would like to distribute the Derivative Work of the Anime, after
      reviewing the information in the URL above, you shall designate/register
      the Licensed Contents as the “Original work*” of the Derivative Work.
    </p>
    <div class="english-note">
      Details of the “Original work” and how to register them are as follows<br
      />
      <a
        href="https://qa.nicovideo.jp/faq/show/863?site_domain=default"
        target="_blank"
        >https://qa.nicovideo.jp/faq/show/863?site_domain=default</a
      >
    </div>
  </div>

  <div class="english-block">
    <h4>■2■Monetization</h4>
    <p>
      You may monetize the Derivative Work by registering the Derivative Work
      under the “Creator Patronizing Program”. Please note, however, that in
      accordance with Niconico Terms of Use, only “individuals” may receive
      revenue related to the Derivative Work, corporations and other
      organizations may not receive revenue.
    </p>
  </div>

  <div class="separator">───────────</div>

  <div class="english-block">
    <h4>■1■Prohibitions</h4>
    <p>
      In the event of the Derivative Creation, the distribution of the
      Derivative Work and the Inducement, you shall not engage in any of the
      following acts, or any act that could potentially encourage such acts.
    </p>
    <ul class="bullet-list">
      <li>
        ・Any acts that modify or mislead the purpose, intent, or facts of the
        Licensed Contents.
      </li>
      <li>
        ・Any acts that damage the credibility or social reputation of the
        Licensed Contents.
      </li>
      <li>
        ・Any acts that could be misunderstood or misidentified as official
        Anime contents or official social media account of the Anime, such as
        using the “official” or “authorized” descriptions.
      </li>
      <li>
        ・Any acts that infringe intellectual property rights of, or otherwise
        cause disadvantage to third parties.
      </li>
      <li>
        ・Distribute the Derivative Work or the Inducement for the purpose of
        promoting a third party’s products or services.
      </li>
      <li>・Any acts that is against laws, regulations, or public policy.</li>
      <li>
        ・Any acts that breach the terms of use, community guideline or help
        policies of Youtube and Niconico, etc,, or any other requirement by the
        platform or social media that you use.
      </li>
      <li>
        ・Any acts that are not creative and use the Licensed Contents on an “as
        is” basis for the Derivative Work.
      </li>
      <li>
        ・Any acts that exceed the scope of use permitted by this guideline.
      </li>
      <li>
        ・Any other acts that the rights-holders of the Anime or we determine to
        be inappropriate.
      </li>
    </ul>
    <p>
      In the event that we or the rights-holders of the Anime deem the
      Derivative Work to be inappropriate, you may be requested to suspend the
      distribution of the Derivative Work or the Inducement. In so requesting we
      may not give you any reason. Upon receiving such a request, you shall
      promptly cease distribution of the Derivative Work or the Inducement.
    </p>
  </div>

  <div class="english-block">
    <h4>■2■Governing Law, etc.</h4>
    <p>
      This guideline shall be governed by and construed in accordance with the
      laws of Japan.
    </p>
    <p>
      Any and all disputes arising out of or in connection with this guideline
      shall submit to the exclusive agreed jurisdiction of the Tokyo District
      Court at the first instance. However, disputes arising with residents
      outside Japan shall be referred to and finally resolved by arbitration
      under the Commercial Arbitration Rules of The Japan Commercial Arbitration
      Association. The seat of arbitration shall be Tokyo, Japan. The language
      to be used in the arbitral proceedings shall be Japanese.
    </p>
  </div>

  <div class="english-block">
    <h4>■3■ Disclaimer</h4>
    <ul class="bullet-list">
      <li>
        ・If you receive a complaint or claim for compensation from a third
        party regarding the Derivative Creation and Derivative Work (including
        the Inducement), you shall settle the dispute at its own responsibility
        and expense, and agree to hold the rights-holders of the Anime and us
        harmless from any and all damages.
      </li>
      <li>
        ・Some Licensed Contents may contain material to which third parties own
        rights. If you would like to use such materials, you shall obtain the
        approval of the right holders by yourself. Please note that we are
        unable to respond to inquiries as to who is the rights holder.
      </li>
      <li>
        ・This guideline may be subject to change or termination without prior
        notice, so please always check the latest guideline. For the avoidance
        of doubt, rights-holders of the Anime nor we will be held liable for any
        damages resulting from the updating of this guideline.
      </li>
      <li>
        ・Please note that we may not be able to respond to individual inquiries
        regarding this guideline unless otherwise provided herein.
      </li>
    </ul>
  </div>
</div>

<style lang="scss">
  .english-section {
    margin-top: 5rem;
    padding-top: 4rem;
    border-top: 1px solid #ccc;

    .english-header {
      margin-bottom: 2rem;
      h2 {
        font-size: 20px;
        font-weight: bold;
        color: #212529;
      }
      h3 {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin: 3rem 0 2rem;
      }
    }

    p {
      margin-bottom: 1.5rem;
      line-height: 1.8;
      font-size: 14px;
    }

    .english-example-box {
      background-color: #f5f5f5;
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 2.5rem;
      p {
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 0.5rem;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          font-size: 13px;
          color: #555;
        }
      }
    }

    .english-block {
      margin-bottom: 2.5rem;
      h3 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      h4 {
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 15px;
      }
      a {
        color: #e65064;
        text-decoration: underline;
        word-break: break-all;
      }
    }

    .english-sub-step {
      margin-top: 10px;
      padding-left: 15px;
      border-left: 2px solid #ccc;
    }

    .english-note {
      margin-top: 15px;
      padding: 15px;
      background: #fdfdfd;
      border-left: 3px solid #ccc;
      font-size: 13px;
      line-height: 1.6;
    }

    .english-quote-box {
      background-color: #f0f0f0;
      padding: 15px;
      border-radius: 4px;
      font-family: monospace;
      font-size: 12px;
      line-height: 1.4;
      p {
        margin-bottom: 4px;
      }
      a {
        color: #555;
        text-decoration: none;
      }
    }

    .separator {
      text-align: center;
      color: #ccc;
      margin: 3rem 0;
    }

    .bullet-list {
      list-style: none;
      padding: 0;
      li {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 8px;
      }
    }

    .simple-list {
      list-style: none;
      padding: 0;
      li {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
  }

  @media screen and (max-width: 750px) {
    .english-section {
      margin-top: 3rem;
      padding-top: 2rem;
      .english-header h2 {
        font-size: 18px;
      }
      .english-header h3 {
        font-size: 16px;
      }
    }
  }
</style>
