<div class="intro-section">
  <p>
    邪神ちゃんドロップキック （アニメ「邪神ちゃんドロップキック
    」「邪神ちゃんドロップキック’」「邪神ちゃんドロップキックX」「邪神ちゃんドロップキック【世紀末編】」含む。以下「邪神ちゃん」）は、視聴者やファンの皆さまによる二次創作を応援しております。そこで、皆さまが安心して二次創作を行っていただけるよう、このガイドラインを公開します。
  </p>

  <p>
    このガイドラインの範囲内であれば、事前に別途確認をいただくことなく、邪神ちゃんの本編映像を用いた新たなコンテンツを創作（以下「二次創作」※）して、そのコンテンツ（以下「二次的コンテンツ」）を、YouTubeまたはニコニコで公開していただくこと、並びに、YouTubeまたはニコニコで公開した二次적コンテンツへ誘導する目的で、各種SNSにおいて二次的コンテンツの一部を公開すること（以下「SNSでの誘導」）ができます。
  </p>

  <div class="example-box">
    <p>※「二次創作」の例：</p>
    <ul>
      <li>・アニメ本編の「切り抜き」動画</li>
      <li>
        ・アニメ本編やキャラクター画像を使った「考察」「解説」「紹介」動画
      </li>
      <li>・コンテンツの「MAD」動画 など</li>
    </ul>
  </div>

  <div class="guideline-block">
    <h3>
      ■このガイドラインにより二次創作ができるコンテンツ（以下「対象コンテンツ」）
    </h3>
    <p>
      ・邪神ちゃんドロップキック【世紀末編】（全1話）<br />
      <strong
        >※こちらの映像のみテレビ放送後（2023年12月26日0時5分以降）に使用可能</strong
      >
    </p>
    <p>
      以下の対象コンテンツは、二次的コンテンツ1件あたり、1話最大10分までの利用に限ります。<br
      />
      ・邪神ちゃんドロップキック （全12話）<br />
      ・邪神ちゃんドロップキック’（全12話）<br />
      ・邪神ちゃんドロップキックX（全12話）
    </p>
  </div>

  <div class="guideline-block">
    <h3>■二次的コンテンツの公開が可能なプラットフォーム</h3>
    <p>
      ・YouTube（<a href="https://www.youtube.com/" target="_blank"
        >https://www.youtube.com/</a
      >）<br />
      ・ニコニコ（<a href="https://www.nicovideo.jp/" target="_blank"
        >https://www.nicovideo.jp/</a
      >）
    </p>
    <p>
      映像をアップロードできるのは上記2つのプラットフォームのみとなりますが、映像を引用する形でツイートするなどは可能です（二次的コンテンツを直接Twitterにアップロードして発信することはできません）。<br
      />
      また、YouTubeメンバーシップ、ニコニコチャンネル有料会員限定など、視聴に別途費用が必要な公開方法は、このガイドラインの対象外となりますのでご注意ください。
    </p>
  </div>
</div>

<style lang="scss">
  .intro-section {
    p {
      margin-bottom: 1.5rem;
      line-height: 1.8;
    }

    .example-box {
      background-color: #fffef1;
      border: 1px solid #ddd;
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 2.5rem;

      p {
        margin-bottom: 0.5rem;
        font-weight: bold;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          font-size: 14px;
          color: #555;
          line-height: 1.6;
        }
      }
    }

    .guideline-block {
      margin-bottom: 2.5rem;

      h3 {
        font-size: 18px;
        font-weight: bold;
        color: #493f3e;
        margin-bottom: 1rem;
        border-bottom: 2px solid #b4d69a;
        display: inline-block;
      }

      p {
        margin-bottom: 1rem;
      }

      a {
        color: #e65064;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  @media screen and (max-width: 750px) {
    .intro-section {
      .guideline-block h3 {
        font-size: 16px;
        display: block;
      }
    }
  }
</style>
