<div class="platform-niconico">
  <div class="section-header">
    <h3>＜ニコニコにおける二次創作ガイドライン＞</h3>
  </div>

  <div class="guideline-item">
    <h4>■１■二次的コンテンツの公開方法</h4>
    <p>
      「ニコニ・コモンズ」に対象コンテンツをニコニコで二次創作する場合の情報を公開しました。<br
      />
      <a href="https://commons.nicovideo.jp/material/nc285219" target="_blank"
        >https://commons.nicovideo.jp/material/nc285219</a
      ><br />
      邪神ちゃんの二次的コンテンツを公開する場合、上記ページに記載されている情報の内容を確認のうえ、二次的コンテンツの「親作品」（※）としてご指定・ご登録ください。
    </p>
    <div class="note-box">
      <p>（※）「親作品」の詳細および、その登録方法</p>
      <a
        href="https://qa.nicovideo.jp/faq/show/863?site_domain=default"
        target="_blank"
        >https://qa.nicovideo.jp/faq/show/863?site_domain=default</a
      >
    </div>
  </div>

  <div class="guideline-item">
    <h4>■２■収益化</h4>
    <p>
      「<a
        href="https://qa.nicovideo.jp/faq/show/988?site_domain=default"
        target="_blank">クリエイター奨励プログラム</a
      >」へ作品登録することにより二次的コンテンツを収益化することが可能です。
      ただし、ニコニコではサービス規約上、収益の受け取りが「個人」に限られており、法人および団体は収益を受け取ることができないこと、ご容赦ください。
    </p>
  </div>
</div>

<style lang="scss">
  .platform-niconico {
    margin-bottom: 4rem;

    .section-header {
      text-align: center;
      margin-bottom: 2rem;
      h3 {
        font-weight: bold;
        font-size: 20px;
        color: #333;
      }
    }

    .guideline-item {
      margin-bottom: 2.5rem;
      h4 {
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 16px;
      }
      p {
        margin-bottom: 1rem;
        line-height: 1.8;
      }
      a {
        color: #e65064;
        text-decoration: underline;
        word-break: break-all;
      }
    }

    .note-box {
      margin-top: 15px;
      padding: 15px;
      background: #f1f8e9;
      border-left: 4px solid #b4d69a;
      font-size: 14px;
      p {
        margin-bottom: 5px;
        font-weight: bold;
      }
    }
  }
</style>
