---
const ttlMovie = "/assets/images/movie/list/ttl_movie.png";
const ttlSpMovie = "/assets/images/movie/list/ttl_sp_movie.png";
---

<header class="hero-intro">
  <h1 class="page-title">
    <picture>
      <source srcset={ttlSpMovie} media="(max-width: 750px)" />
      <img src={ttlMovie} alt="MOVIE" />
    </picture>
  </h1>
</header>
