---
import AuthLayout from "@/layouts/AuthLayout.astro";
---

<AuthLayout server:defer title="Welcome - Markdown Converter">
  <div class="flex items-center justify-center min-h-screen">
    <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-gray-900">
    </div>
  </div>
</AuthLayout>
