---
import "../styles/global.css";
import Link from "../components/Link.astro";

const { title = "default" } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} - Curso | Aprendendo Astro</title>
  </head>

  <body>
    <header class="site-header">
      <nav class="site-nav">
        <Link class="nav-link nav-link-home" href="/">Inicio</Link>
        <Link class="nav-link" href="about">Sobre</Link>
      </nav>
    </header>

    <main class="site-main">
      <slot />
    </main>

    <footer class="site-footer">
      <div class="site-footer-inner">
        <p class="site-footer-text">
          © {new Date().getFullYear()} Curso | Aprendendo Astro
        </p>
      </div>
    </footer>
  </body>
</html>
