---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="content">
    <h2>Bem-vindo</h2>
    <p>
      Texto de exemplo em design e desenvolvimento, usado apenas como
      preenchimento.
    </p>
    <a href="/books">Dê uma olhada nas minhas avaliações</a>
  </div>
</BaseLayout>

<style>
  .content {
    text-align: center;
  }
  a {
    display: inline-block;
    background-color: #7a49c5;
    color: #fff;
    padding: 6px 10px;
    border-radius: 2px;
    text-decoration: none;
    margin-top: 20px;
  }
  a:hover {
    background-color: #965ee9;
  }
</style>
