---
const ttlStaffcast = "/assets/images/staffcast/info/ttl_staffcast.png";
const ttlSpStaffcast = "/assets/images/staffcast/info/ttl_sp_staffcast.png";
---

<header class="hero-intro">
  <h1 class="page-title">
    <picture>
      <source srcset={ttlSpStaffcast} media="(max-width: 750px)" />
      <img src={ttlStaffcast} alt="STAFF & CAST" />
    </picture>
  </h1>
</header>
