<section class="staffcast-list">
  <section class="onair-section">
    <h2>スタッフ</h2>
    <section class="section-content">
      <table class="onair-table">
        <tbody>
          <tr><th>原作</th><td>ユキヲ（「COMICメテオ」連載）</td></tr>
          <tr><th>製作総指揮</th><td>夏目公一朗</td></tr>
          <tr><th>監督</th><td>佐藤光、山田卓</td></tr>
          <tr><th>シリーズ構成</th><td>筆安一幸</td></tr>
          <tr><th>脚本</th><td>筆安一幸・村上桃子</td></tr>
          <tr><th>キャラクターデザイン</th><td>古賀誠</td></tr>
          <tr><th>総作画監督</th><td>古賀誠・代見裕美</td></tr>
          <tr
            ><th>美術監督</th><td
              >佐藤正浩（ヘッドワークス）・飯田未来（ヘッドワークス）</td
            ></tr
          >
          <tr><th>色彩設計</th><td>但野ゆきこ</td></tr>
          <tr><th>撮影監督</th><td>木田健斗（チップチューン）</td></tr>
          <tr><th>特殊効果</th><td>チップチューン</td></tr>
          <tr><th>編集</th><td>武宮むつみ</td></tr>
          <tr><th>音楽</th><td>SUPA LOVE</td></tr>
          <tr><th>音響監督</th><td>今泉雄一</td></tr>
          <tr><th>音響制作</th><td>BloomZ</td></tr>
          <tr><th>アニメーション制作</th><td>ノーマッド</td></tr>
        </tbody>
      </table>
    </section>
  </section>

  <section class="onair-section">
    <h2>キャスト</h2>
    <div class="section-content">
      <table class="onair-table">
        <tbody>
          <tr><th>邪神ちゃん</th><td>鈴木愛奈</td></tr>
          <tr><th>花園ゆりね</th><td>大森日雅</td></tr>
          <tr><th>メデューサ</th><td>久保田未夢</td></tr>
          <tr><th>ミノス</th><td>小見川千明</td></tr>
          <tr><th>ぺこら</th><td>小坂井祐莉絵</td></tr>
          <tr><th>ぽぽろん</th><td>佐々木李子</td></tr>
          <tr><th>ペルセポネ2世</th><td>飯田里穂</td></tr>
          <tr><th>橘芽依</th><td>原奈津子</td></tr>
          <tr><th>遊佐</th><td>荒浪和沙</td></tr>
          <tr><th>氷ちゃん</th><td>寺田御子</td></tr>
          <tr><th>ぴの</th><td>山田麻莉奈</td></tr>
          <tr><th>キョンキョン</th><td>山下七海</td></tr>
          <tr><th>ランラン</th><td>田中美海</td></tr>
          <tr><th>エキュート</th><td>朝ノ瑠璃</td></tr>
          <tr><th>アトレ</th><td>長谷川玲奈</td></tr>
          <tr><th>リエール</th><td>花井美春</td></tr>
          <tr><th>ペルセポネ1世</th><td>小森未彩</td></tr>
          <tr><th>ベート</th><td>M・A・O</td></tr>
          <tr><th>悪魔A</th><td>遊佐浩二</td></tr>
          <tr><th>初音ミク</th><td>藤田咲（初音ミク）</td></tr>
        </tbody>
      </table>
    </div>
  </section>
</section>

<style lang="scss">
  @use "../../onair/sections/onair-shared-styles" as *;
</style>
