---
const ttlOnair = "/assets/images/onair/info/ttl_onair.png";
const ttlSpOnair = "/assets/images/onair/info/ttl_sp_onair.png";
---

<header class="hero-intro">
  <h1 class="page-title">
    <picture>
      <source srcset={ttlSpOnair} media="(max-width: 750px)" />
      <img src={ttlOnair} alt="ON AIR" />
    </picture>
  </h1>
</header>
