---
const bgPattern = `url("/assets/images/global/bg_pattern.png")`;
const bgGirl = `url("/assets/images/global/bg_character01.png")`;
const bgWave = `url("/assets/images/global/bg_wave_bottom.png")`;
const ttlOnair = "/assets/images/onair/info/ttl_onair.png";
const ttlSpOnair = "/assets/images/onair/info/ttl_sp_onair.png";
---

<section id="info">
  <div class="bg-image-girl"></div>
  <div class="container">
    <div class="page-onair">
      <h1 class="page-title">
        <picture>
          <source srcset={ttlSpOnair} media="(max-width: 750px)" />
          <img src={ttlOnair} alt="ON AIR" />
        </picture>
      </h1>

      <section class="onair-section">
        <h2>3期 テレビ放送情報！</h2>
        <div class="section-content">
          <table class="onair-table">
            <tbody>
              <tr><th>テレビ東京</th><td>2022年7月5日（火）26:05〜</td></tr>
              <tr><th>北海道文化放送</th><td>2022年7月6日（水）25:40〜</td></tr>
              <tr><th>テレビ長崎</th><td>2022年7月14日（木）25:00〜</td></tr>
              <tr><th>BS日テレ</th><td>2022年7月6日（水）24:30〜</td></tr>
              <tr><th>BSフジ</th><td>2022年7月7日（木）24:30〜</td></tr>
              <tr>
                <th>AT-X</th>
                <td>
                  2022年7月8日（金）22:00〜<br />
                  毎週（火）10：00、（木）16：00リピート放送
                </td>
              </tr>
            </tbody>
          </table>
          <p class="note">
            ※放送・配信日時は編成の都合等により変更となる場合がございます。予めご了承ください。
          </p>
        </div>
      </section>

      <section class="onair-section">
        <h2>3期 配信情報！</h2>
        <div class="section-content">
          <p class="highlight-text">
            2022年7月6日（水）正午配信スタート！毎週（水）正午更新！
          </p>
          <h4 class="sub-heading sub-heading-left">
            月額見放題サービス（SVOD）
          </h4>
          <table class="onair-table onair-table-1col">
            <tbody>
              <tr
                ><th
                  ><a href="https://abema.tv/video/title/19-98" target="_blank"
                    >ABEMAプレミアム</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://www.amazon.co.jp/gp/video/detail/B0B5KP67W4/ref=atv_dp_share_cu_r"
                    target="_blank">Amazon Prime Video</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://animestore.docomo.ne.jp/animestore/ci_pc?workId=25690"
                    target="_blank">dアニメストア</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://www.nicovideo.jp/watch/so40723975"
                    target="_blank">dアニメストア ニコニコ支店</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://www.amazon.co.jp/gp/video/detail/B0B5KP67W4/ref=atv_dp_share_cu_r"
                    target="_blank">dアニメストア for Prime Video</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a href="https://fod.fujitv.co.jp/title/0027" target="_blank"
                    >FOD</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a href="https://www.hulu.jp/watch/100116515" target="_blank"
                    >Hulu</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://linkvod.myjcom.jp/video/sr00147274?type=series"
                    target="_blank">J:COMオンデマンド</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a href="https://www.telasa.jp/series/12705" target="_blank"
                    >TELASA</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://front.milplus.jp/pg/10047383"
                    target="_blank">milplus</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a href="https://www.paravi.jp/title/96256" target="_blank"
                    >Paravi</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a href="https://www.telasa.jp/series/12705" target="_blank"
                    >TELASA（auスマートパスプレミアム）</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://video.unext.jp/title/SID0069681"
                    target="_blank">U-NEXT</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a href="https://animeka.tv/" target="_blank">アニメカ</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://www.animehodai.jp/title/SID0069681"
                    target="_blank">アニメ放題</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a href="https://www.b-ch.com/titles/7799/" target="_blank"
                    >バンダイチャンネル</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://www.hikaritv.net/video/series/Z3JvdXAvYjAwYzcwNg=="
                    target="_blank">ひかりTV</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://douga.flat-flat.jp/titles/S002555/1"
                    target="_blank">ふらっと動画</a
                  ></th
                ></tr
              >
            </tbody>
          </table>
          <h4 class="sub-heading sub-heading-left">
            無料配信サービス *各話期間限定（AVOD）
          </h4>
          <table class="onair-table onair-table-1col">
            <tbody>
              <tr
                ><th
                  ><a href="https://abema.tv/video/title/19-98" target="_blank"
                    >ABEMA</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://gyao.yahoo.co.jp/title/62b01231-28ec-464f-a804-dea7b0f94d8e"
                    target="_blank">GYAO!</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://anime.nicovideo.jp/detail/jashinchan3/"
                    target="_blank">ニコニコチャンネル</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://anime.nicovideo.jp/detail/jashinchan3/"
                    target="_blank">ニコニコ生放送</a
                  ></th
                ></tr
              >
            </tbody>
          </table>
          <h4 class="sub-heading sub-heading-left">
            レンタル配信サービス（TVOD）
          </h4>
          <table class="onair-table onair-table-1col">
            <tbody>
              <tr
                ><th
                  ><a
                    href="https://www.amazon.co.jp/gp/video/detail/B0B5KP67W4/ref=atv_dp_share_cu_r"
                    target="_blank">Amazon Prime Video</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://www.dmm.com/digital/videomarket/anime/-/detail/=/title_id=174W82/"
                    target="_blank">DMM.com</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://play.google.com/store/tv/show/%E9%82%AA%E7%A5%9E%E3%81%A1%E3%82%83%E3%82%93%E3%83%89%E3%83%AD%E3%83%83%E3%83%97%E3%82%AD%E3%83%83%E3%82%AF?id=vjG0VAHqN3o.P&hl=ja"
                    target="_blank">Google Play</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://gyao.yahoo.co.jp/store/title/174W82"
                    target="_blank">GYAO!ストア</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://a.happydouga.jp/web/pc/index.php"
                    target="_blank">HAPPY!動画</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://music-book.jp/video/title/174W82"
                    target="_blank">music.jp</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://tv.rakuten.co.jp/content/422685/"
                    target="_blank">Rakuten TV</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://www.videx.jp/detail/anime/v_a_ryosenmytheater/amyc0274_0000/index.htm?ref=search"
                    target="_blank">VIDEX</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://www.youtube.com/show/SC7oGgxD1Y2dBmwIXaJpMZjg?season=1&sbp=CgEx"
                    target="_blank">YouTube（レンタル）</a
                  ></th
                ></tr
              >
              <tr
                ><th
                  ><a
                    href="https://www.videomarket.jp/title/174W82"
                    target="_blank">ビデオマーケット</a
                  ></th
                ></tr
              >
            </tbody>
          </table>
          <p class="note">
            ※配信サービスによって配信開始日が異なる場合がございます。
          </p>
        </div>
      </section>

      <section class="onair-section">
        <h2>2期 配信情報！</h2>
        <div class="section-content">
          <h4 class="sub-heading sub-heading-left">見放題</h4>
          <table class="onair-table onair-table-2col">
            <tbody>
              <tr
                ><th
                  ><a
                    href="https://www.amazon.co.jp/gp/video/detail/B086H94RSG/ref=atv_hm_hom_1_c_DEaieV_4_1"
                    target="_blank">Amazon Prime Video（見放題）</a
                  ></th
                ><td>2020年4月6日〜</td></tr
              >
              <tr
                ><th
                  ><a
                    href="https://anime.dmkt-sp.jp/animestore/ci_pc?workId=24713"
                    target="_blank">dアニメストア</a
                  ></th
                ><td>2021年5月1日〜</td></tr
              >
              <tr
                ><th
                  ><a
                    href="https://www.nicovideo.jp/watch/so38617117"
                    target="_blank">dアニメストア ニコニコ支店</a
                  ></th
                ><td>2021年5月1日〜</td></tr
              >
              <tr
                ><th
                  ><a
                    href="https://www.amazon.co.jp/gp/video/detail/B086H7RNLM/ref=atv_dp_share_cu_r"
                    target="_blank">dアニメストア for Prime Video</a
                  ></th
                ><td>2021年5月7日〜</td></tr
              >
              <tr
                ><th
                  ><a
                    href="https://fod.fujitv.co.jp/s/genre/anime/ser5g45/"
                    target="_blank">FOD</a
                  ></th
                ><td>2021年5月1日〜</td></tr
              >
              <tr
                ><th
                  ><a
                    href="https://www.hulu.jp/dropkick-on-my-devil"
                    target="_blank">Hulu</a
                  ></th
                ><td>2021年5月1日〜</td></tr
              >
            </tbody>
          </table>
          <h4 class="sub-heading sub-heading-left">レンタル</h4>
          <table class="onair-table onair-table-2col">
            <tbody>
              <tr
                ><th
                  ><a
                    href="https://www.amazon.co.jp/gp/video/detail/B086H7RNLM/ref=atv_dp_share_cu_r"
                    target="_blank">Amazon Prime Video（レンタル）</a
                  ></th
                ><td>2020年4月6日〜</td></tr
              >
              <tr
                ><th
                  ><a href="https://a.happydouga.jp/web/" target="_blank"
                    >HAPPY!動画</a
                  ></th
                ><td>2021年5月1日〜</td></tr
              >
              <tr
                ><th
                  ><a
                    href="https://tv.rakuten.co.jp/content/379953/"
                    target="_blank">Rakuten TV</a
                  ></th
                ><td>2021年5月1日〜</td></tr
              >
              <tr
                ><th
                  ><a
                    href="https://www.videomarket.jp/title/174R40"
                    target="_blank">ビデオマーケット</a
                  ></th
                ><td>2021年5月1日〜</td></tr
              >
              <tr
                ><th
                  ><a
                    href="https://www.dmm.com/digital/videomarket/anime/-/detail/=/title_id=174R40/"
                    target="_blank">DMM.com</a
                  ></th
                ><td>2021年5月1日〜</td></tr
              >
              <tr
                ><th
                  ><a
                    href="https://gyao.yahoo.co.jp/store/title/174R40"
                    target="_blank">GYAO!ストア</a
                  ></th
                ><td>2021年5月1日〜</td></tr
              >
              <tr
                ><th
                  ><a
                    href="https://music-book.jp/video/title/174R40"
                    target="_blank">music.jp</a
                  ></th
                ><td>2021年5月1日〜</td></tr
              >
            </tbody>
          </table>
        </div>
      </section>

      <section class="onair-section">
        <h2>2期 テレビ放送情報！</h2>
        <div class="section-content">
          <table class="onair-table">
            <tbody>
              <tr><th>TOKYO MX</th><td>2020年4月6日（月）25:15～</td></tr>
              <tr><th>北海道文化放送</th><td>2020年4月7日（火）25:50～</td></tr>
              <tr><th>西日本放送</th><td>2020年4月12日（日）26:00～</td></tr>
              <tr><th>群馬テレビ</th><td>2020年4月6日（月）24:30～</td></tr>
              <tr><th>とちぎテレビ</th><td>2020年4月6日（月）24:30～</td></tr>
              <tr><th>チバテレビ</th><td>2020年4月8日（水）25:00～</td></tr>
              <tr><th>サンテレビ</th><td>2020年4月6日（月）25:30～</td></tr>
              <tr><th>テレビ山口</th><td>2020年4月10日（金）25:55～</td></tr>
              <tr><th>テレビ長崎</th><td>2020年5月7日（木）25:00～</td></tr>
              <tr><th>BSフジ</th><td>2020年4月7日（火）24:30～</td></tr>
              <tr><th>AT-X</th><td>2020年4月6日（月）22:30～</td></tr>
              <tr><th>青森テレビ</th><td>2020年7月6日（月）25:29～</td></tr>
            </tbody>
          </table>
          <p class="note">※放送日時は都合により変更になる場合がございます。</p>
        </div>
      </section>
      <section class="onair-section">
        <h2>1期 配信情報！</h2>
        <div class="section-content">
          <table class="onair-table onair-table-1col">
            <tbody>
              <tr>
                <td>
                  <a
                    href="https://www.amazon.co.jp/gp/video/detail/B07F94QL52/ref=cm_sw_tw_r_pv_wb_U9a4EhHd8yv1o"
                    target="_blank"
                    rel="noopener noreferrer">Amazon Prime Video</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    href="https://anime.dmkt-sp.jp/animestore/ci_pc?workId=23200&ref=twtr"
                    target="_blank"
                    rel="noopener noreferrer">dアニメストア</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    href="https://video.unext.jp/title/SID0045432"
                    target="_blank"
                    rel="noopener noreferrer">U-NEXT/アニメ放題</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    href="https://abema.tv/channels/anime-live/slots/BzM18TKxoWHmuy"
                    target="_blank"
                    rel="noopener noreferrer">AbemaTV</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    href="https://www.b-ch.com/titles/6810/"
                    target="_blank"
                    rel="noopener noreferrer">バンダイチャンネル</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <p class="note">様々な配信サービスで大好評配信中！</p>
        </div>
      </section>
      <section class="onair-section">
        <h2>1期 テレビ再放送情報！</h2>
        <div class="section-content">
          <table class="onair-table onair-table-3col">
            <tbody>
              <tr>
                <th>TOKYOMX</th><td>2020年1月5日（日）から</td><td>25:05〜</td>
              </tr>
              <tr>
                <th>BSフジ</th><td>2020年1月12日（日）から</td><td>24:00〜</td>
              </tr>
              <tr>
                <th>北海道文化放送</th><td>2020年1月14日（火）から</td><td
                  >25:45〜</td
                >
              </tr>
            </tbody>
          </table>
          <p class="note">
            ※放送日時は都合により変更になる場合がございます。<br />
            ■BSフジ<br />
            1月12日（日）24:25～24:55<br />
            1月19日（日）24:50～25:20<br />
            1月26日（日）24:35～25:05<br />
            2月9日（日）25:30～26:00<br />
            ■北海道文化放送<br />
            1月14日（火）27:10-27:40<br />
            2月4日（火）27:00～27:30
          </p>
        </div>
      </section>
      <section class="onair-section">
        <h2>1期 テレビ放送情報！</h2>
        <div class="section-content">
          <table class="onair-table onair-table-3col">
            <tbody>
              <tr
                ><th>TOKYOMX</th><td>2018年7月9日（月）から</td><td>25:05〜</td
                ></tr
              >
              <tr
                ><th>チバテレビ</th><td>2018年7月13日（金）から</td><td
                  >25:00〜</td
                ></tr
              >
              <tr
                ><th>とちぎテレビ</th><td>2018年7月11日（水）から</td><td
                  >24:00〜</td
                ></tr
              >
              <tr
                ><th>三重テレビ</th><td>2018年7月11日（水）から</td><td
                  >26:20〜</td
                ></tr
              >
              <tr
                ><th>サンテレビ</th><td>2018年7月9日（月）から</td><td
                  >25:30〜</td
                ></tr
              >
              <tr
                ><th>西日本放送</th><td>2018年7月15日（日）から</td><td
                  >26:00〜</td
                ></tr
              >
              <tr
                ><th>BSフジ</th><td>2018年7月9日（月）から</td><td>24:00〜</td
                ></tr
              >
              <tr
                ><th>北海道文化放送</th><td>2018年7月15日（日）から</td><td
                  >25:45〜</td
                ></tr
              >
              <tr
                ><th>びわ湖放送</th><td>2018年7月10日（火）から</td><td
                  >26:45〜</td
                ></tr
              >
              <tr
                ><th>AT-X</th><td
                  >2018年7月13日（金）から<br />※リピート放送 毎週（月）<br
                  />毎週（水）</td
                ><td>21:30〜<br />13:30〜<br />29:30〜</td></tr
              >
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
  <div class="info-wave"></div>
</section>

<style lang="scss" is:global>
  #footer {
    background-color: transparent !important;
  }
  #footer .bg-wave-top {
    display: none !important;
  }
  #footer .foreground {
    background-color: #493f3e !important;
    position: relative;
    z-index: 5;
    padding: 0px 0 100px 0 !important;
  }
</style>

<style lang="scss" define:vars={{ bgPattern, bgGirl, bgWave }}>
  @use "../../../styles/globals.scss" as *;

  #info {
    font-family: HiraKakuPro-W3;
    position: relative;
    background-image: var(--bgPattern);
    background-repeat: repeat;
    background-size: auto;
    width: 100%;
    z-index: 1;
    overflow: visible;

    .bg-image-girl {
      position: absolute;
      right: 0;
      bottom: -73px;
      height: 400px;
      width: 337px;
      background-image: var(--bgGirl);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 11;
    }

    .info-wave {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 120px;
      z-index: 11;
      background-color: #493f3e;
      background-image:
        radial-gradient(rgba(255, 255, 255, 0.3) 20%, transparent 0),
        radial-gradient(rgba(255, 255, 255, 0.3) 20%, transparent 0);
      background-size: 12px 12px;
      background-position:
        0 0,
        18px 18px;
      background-repeat: repeat;
      -webkit-mask-image: var(--bgWave);
      mask-image: var(--bgWave);
      -webkit-mask-size: 338px 120px;
      mask-size: 338px 120px;
      -webkit-mask-repeat: repeat-x;
      mask-repeat: repeat-x;
      -webkit-mask-position: center bottom;
      mask-position: center bottom;
    }

    .page-onair {
      position: relative;
      max-width: 954px;
      margin: 0 auto;
      padding: 135px 0 185px 0;
      z-index: 3;

      .page-title {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        img {
          max-width: 100%;
          height: auto;
        }
      }

      .onair-section {
        margin-bottom: 60px;

        h2 {
          text-align: center;
          font-weight: bold;
          font-size: 25px;
          background: linear-gradient(#61ac69, #b4d69a);
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          color: #fff;
          margin: 0;
          padding: 21px;
        }

        .section-content {
          background-color: #fffef1;
          padding: 25px;
          border: 3px solid #b4d69a;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;

          .highlight-text {
            color: #fb4c69;
            text-align: center;
            font-weight: bold;
            margin-bottom: 1.5rem;
          }

          .sub-heading {
            font-weight: bold;
            font-size: 18px;
            margin: 20px 0 15px;
            text-align: right;
          }

          .sub-heading-left {
            text-align: left;
          }

          .note {
            font-size: 13px;
            margin-top: 15px;
            color: #666;
          }
        }
      }

      .onair-table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #b4d69a;

        tr {
          border-bottom: 2px dotted #62ad6a;
          &:last-child {
            border-bottom: none;
          }
        }

        th,
        td {
          padding: 15px;
          border-right: 1px solid #b4d69a;
        }

        th:last-child,
        td:last-child {
          border-right: none;
        }

        th {
          width: 30%;
          font-weight: bold;
          color: #fb4c69;
        }

        td {
          text-align: right;
          line-height: 1.6;
        }

        &.onair-table-3col th {
          width: 35%;
        }

        &.onair-table-3col td {
          width: 32.5%;
        }

        &.onair-table-1col td {
          text-align: right;
        }

        &.onair-table-1col a {
          color: #fb4c69;
          font-weight: bolder;
          text-decoration: underline;
        }

        &.onair-table-1col th {
          text-align: right;
          width: 100%;
          font-weight: normal;
        }

        &.onair-table-1col th a {
          color: #fb4c69;
          font-weight: bolder;
          text-decoration: underline;
        }

        &.onair-table-2col th {
          width: 70%;
          text-align: right;
          font-weight: normal;
        }

        &.onair-table-2col td {
          width: 30%;
        }

        &.onair-table-2col th a {
          color: #fb4c69;
          font-weight: bolder;
          text-decoration: underline;
        }
      }

      .link-list {
        list-style: none;
        padding: 0;
        li {
          text-align: right;
          border-bottom: 2px dotted #62ad6a;
          padding: 12px 15px;
          a {
            color: #fb4c69;
            text-decoration: underline;
            font-weight: bolder;
            font-size: 15px;
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }

    @media screen and (max-width: 750px) {
      .bg-image-girl {
        display: none;
      }
      .page-onair {
        padding: 80px 15px 185px 15px;
        .page-title img {
          max-width: 280px;
        }
        .onair-section h2 {
          font-size: 18px;
          padding: 15px;
        }
        .onair-table th {
          width: 40%;
          font-size: 14px;
          padding: 10px 5px;
        }
        .onair-table td {
          font-size: 14px;
          padding: 10px 5px;
        }
      }
    }
  }
</style>
