---
import BroadcastTable from "./BroadcastTable.astro";
import StreamingSection from "./StreamingSection.astro";
import StreamingWithDateSection from "./StreamingWithDateSection.astro";
import BroadcastSimpleTable from "./BroadcastSimpleTable.astro";
import StreamingLinksSection from "./StreamingLinksSection.astro";
import BroadcastThreeColTable from "./BroadcastThreeColTable.astro";

import {
  onair1stBroadcast,
  onair1stRebroadcast,
  onair1stStreaming,
  onair2ndBroadcast,
  onair2ndStreaming,
  onair3rdBroadcast,
  onair3rdStreaming,
  onairAssets,
} from "@data/onair";

const { bgPattern, bgGirl, bgWave, ttlOnair, ttlSpOnair } = onairAssets;
---

<section id="info">
  <div class="bg-image-girl"></div>
  <div class="container">
    <div class="page-onair">
      <h1 class="page-title">
        <picture>
          <source srcset={ttlSpOnair} media="(max-width: 750px)" />
          <img src={ttlOnair} alt="ON AIR" />
        </picture>
      </h1>
      <BroadcastTable {...onair3rdBroadcast} />

      <StreamingSection {...onair3rdStreaming} />

      <StreamingWithDateSection {...onair2ndStreaming} />

      <BroadcastSimpleTable {...onair2ndBroadcast} />

      <StreamingLinksSection {...onair1stStreaming} />

      <BroadcastThreeColTable {...onair1stRebroadcast} />

      <BroadcastThreeColTable {...onair1stBroadcast} />
    </div>
  </div>
  <div class="info-wave"></div>
</section>

<style lang="scss" is:global>
  #footer {
    background-color: transparent !important;
  }
  #footer .bg-wave-top {
    display: none !important;
  }
  #footer .foreground {
    background-color: #493f3e !important;
    position: relative;
    z-index: 5;
    padding: 0px 0 100px 0 !important;
  }
</style>

<style lang="scss" define:vars={{ bgPattern, bgGirl, bgWave }}>
  @use "../../../styles/globals.scss" as *;

  #info {
    font-family: HiraKakuPro-W3;
    position: relative;
    background-image: var(--bgPattern);
    background-repeat: repeat;
    background-size: auto;
    width: 100%;
    z-index: 1;
    overflow: visible;

    .bg-image-girl {
      position: absolute;
      right: 0;
      bottom: -73px;
      height: 400px;
      width: 337px;
      background-image: var(--bgGirl);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 11;
    }

    .info-wave {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 120px;
      z-index: 11;
      background-color: #493f3e;
      background-image:
        radial-gradient(rgba(255, 255, 255, 0.3) 20%, transparent 0),
        radial-gradient(rgba(255, 255, 255, 0.3) 20%, transparent 0);
      background-size: 12px 12px;
      background-position:
        0 0,
        18px 18px;
      background-repeat: repeat;
      -webkit-mask-image: var(--bgWave);
      mask-image: var(--bgWave);
      -webkit-mask-size: 338px 120px;
      mask-size: 338px 120px;
      -webkit-mask-repeat: repeat-x;
      mask-repeat: repeat-x;
      -webkit-mask-position: center bottom;
      mask-position: center bottom;
    }

    .page-onair {
      position: relative;
      max-width: 954px;
      margin: 0 auto;
      padding: 135px 0 185px 0;
      z-index: 3;

      .page-title {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    @media screen and (max-width: 750px) {
      .bg-image-girl {
        display: none;
      }
      .page-onair {
        padding: 80px 15px 185px 15px;
        .page-title img {
          max-width: 280px;
        }
      }
    }
  }
</style>
