---
import IntroSection from "./guidelines/IntroSection.astro";
import YoutubeSection from "./guidelines/YoutubeSection.astro";
import NiconicoSection from "./guidelines/NiconicoSection.astro";
import RulesSection from "./guidelines/RulesSection.astro";
import EnglishSection from "./guidelines/EnglishSection.astro";

const bgPattern = `url("/assets/images/global/bg_pattern.png")`;
const bgGirl = `url("/assets/images/global/bg_character01.png")`;
const bgWave = `url("/assets/images/global/bg_wave_bottom.png")`;

const ttlSpecial = "/assets/images/special/info/ttl_special.png";
const ttlSpSpecial = "/assets/images/special/info/ttl_sp_special.png";
const bannerSpecial = "/assets/images/special/info/banner_special.jpg";
---

<section id="info">
  <div class="bg-image-girl"></div>
  <div class="container">
    <div class="page-special">
      <h1 class="page-title">
        <picture>
          <source srcset={ttlSpSpecial} media="(max-width: 750px)" />
          <img src={ttlSpecial} alt="SPECIAL" />
        </picture>
      </h1>

      <figure class="main-banner">
        <img src={bannerSpecial} alt="Special Visual" />
      </figure>

      <div class="guideline-container">
        <IntroSection />
        <YoutubeSection />
        <NiconicoSection />
        <RulesSection />
        <EnglishSection />
      </div>
    </div>
  </div>
  <div class="info-wave"></div>
</section>

<style lang="scss" is:global>
  #footer {
    background-color: transparent !important;
  }

  #footer .bg-wave-top {
    display: none !important;
  }

  #footer .foreground {
    background-color: #493f3e !important;
    position: relative;
    z-index: 5;
    padding: 0px 0 100px 0 !important;
  }
</style>

<style lang="scss" define:vars={{ bgPattern, bgGirl, bgWave }}>
  @use "../../../styles/globals.scss" as *;

  #info {
    font-family: HiraKakuPro-W3;
    position: relative;
    background-image: var(--bgPattern);
    background-repeat: repeat;
    background-size: auto;
    width: 100%;
    z-index: 1;
    overflow: visible;

    .bg-image-girl {
      position: absolute;
      right: 0;
      bottom: -73px;
      height: 400px;
      width: 337px;
      background-image: var(--bgGirl);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 11;
    }

    .info-wave {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 120px;
      z-index: 11;
      background-color: #493f3e;
      background-image:
        radial-gradient(rgba(255, 255, 255, 0.3) 20%, transparent 0),
        radial-gradient(rgba(255, 255, 255, 0.3) 20%, transparent 0);
      background-size: 12px 12px;
      background-position:
        0 0,
        18px 18px;
      background-repeat: repeat;
      -webkit-mask-image: var(--bgWave);
      mask-image: var(--bgWave);
      -webkit-mask-size: 338px 120px;
      mask-size: 338px 120px;
      -webkit-mask-repeat: repeat-x;
      mask-repeat: repeat-x;
      -webkit-mask-position: center bottom;
      mask-position: center bottom;
    }

    .page-special {
      position: relative;
      max-width: 954px;
      margin: 0 auto;
      padding: 135px 0 185px 0;
      z-index: 3;
      text-align: left;

      .page-title {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        img {
          max-width: 100%;
          height: auto;
        }
      }

      .main-banner {
        margin: 0 0 18px 0;
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .guideline-container {
        color: #212529;
        font-size: 16px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 10px;

        p {
          margin-bottom: 1.5rem;
        }

        .example-note {
          font-size: 14px;
          color: #555;
          border-left: 4px solid #b4d69a;
          padding-left: 15px;
        }

        .guideline-block {
          margin-top: 40px;
          h3 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 15px;
            color: #493f3e;
          }
        }

        .english-guidelines {
          margin-top: 60px;
          padding-top: 40px;
          border-top: 1px solid #ccc;
        }
      }
    }

    @media screen and (max-width: 750px) {
      .bg-image-girl {
        display: none;
      }

      .page-special {
        padding: 80px 15px 185px 15px;

        .page-title img {
          max-width: 280px;
        }

        .guideline-container {
          padding: 15px;
          font-size: 14px;
        }
      }
    }
  }
</style>
