---
import "./jd-base-layout.scss";
import "../styles/tailwind.css";
import "../styles/globals.scss";
const { title, showChrome = true } = Astro.props;
import JdHeader from "../components/jd-header.astro";
import JdFooter from "../components/jd-footer.astro";
---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body id="index">
    {showChrome && <JdHeader />}
    <main class="container mx-auto p-4">
      <slot />
    </main>
    <JdFooter />
  </body>
</html>
