---
import Layout from "../layouts/Layout.astro";

interface Todo {
  title: string;
  completed: boolean;
}

const res = await fetch("https://jsonplaceholder.typicode.com/todos");
const todos: Todo[] = await res.json();
---

<Layout title="Home">
  <main>
    <h1>Lista de Todos</h1>

    <ul role="list">
      {
        todos.slice(0, 10).map((todo: Todo) => (
          <li>
            <div>
              <strong>{todo.title}</strong>
              <span>{todo.completed ? "Concluído" : "Pendente"}</span>
            </div>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
