---
import "../styles/global.css";

export const appearance = {
  elements: {
    rootBox: "w-full",
    card: "bg-white shadow-xl rounded-2xl p-8",
    headerTitle: "text-2xl font-semibold text-neutral-900 mb-2",
    headerSubtitle: "text-sm text-neutral-400 mb-2 border-b pb-4",
    dividerLine: "bg-neutral-200",
    dividerText: "text-neutral-500 text-sm px-2",
    formFieldLabel: "text-sm font-medium text-neutral-900",
    formFieldInput: "p-6 text-base rounded-md transition-all",
    formFieldInputShowPasswordButton: "text-neutral-600 hover:text-neutral-900",
    formButtonPrimary:
      "h-12 font-normal text-base bg-neutral-950 hover:bg-neutral-900 text-black",
    formResendCodeLink: "text-neutral-950 hover:underline font-medium text-sm",
    otpCodeFieldInput:
      "border border-neutral-300 rounded-md h-11 focus:ring-2 focus:ring-neutral-950",
  },
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="overflow-hidden">
    <!-- Plano de fundo -->
    <div class="fixed inset-0 -z-10 bg-white">
      <div class="absolute inset-0 bg-grid"></div>
      <div class="blob blob-1"></div>
      <div class="blob blob-2"></div>
      <div class="blob blob-3"></div>
    </div>

    <!-- Conteúdo principal -->
    <div class="flex min-h-screen items-center justify-center px-4">
      <div class="w-full max-w-md">
        <slot />
      </div>
    </div>

    <script src="../scripts/clerk-translate.js"></script>
  </body>
</html>
