---
import BaseLayout from "./BaseLayout.astro";
import "../styles/global.css";
const { title = "" } = Astro.props;
---

<BaseLayout>
  <main class="mx-auto max-w-6xl px-6 py-12">
    <slot />
  </main>
</BaseLayout>
