---
import Layout from "../layouts/Layout.astro";
import { PROFILE_DATA } from "../data/profile";
---

<Layout title={`${PROFILE_DATA.name} // Profile - V2`}>
  <main class="v2-container">
    <div class="hello-world">
      <h1>Hello World!</h1>
      <p>VERSION_02</p>
      <div class="glow"></div>
    </div>
  </main>
</Layout>

<style lang="scss">
  .v2-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gintama-black);
  }

  .hello-world {
    position: relative;
    text-align: center;

    h1 {
      font-family: "Orbitron", sans-serif;
      font-size: 4rem;
      color: var(--gintama-silver);
      margin: 0;
      z-index: 2;
      position: relative;
    }

    p {
      color: var(--gintama-cyan);
      letter-spacing: 5px;
      font-weight: 800;
      font-size: 0.8rem;
      margin-top: 1rem;
    }

    .glow {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200px;
      height: 200px;
      background: var(--gintama-cyan);
      filter: blur(80px);
      opacity: 0.2;
      z-index: 1;
    }
  }
</style>
