---
import Icon from "../icon/Icon.astro";
import { socialLinks } from "../../data/socialLinks";
---

<nav class="social-nav">
  <ul>
    {
      socialLinks.map((link) => (
        <li>
          <a
            href={link.href}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={link.label}
          >
            <Icon icon={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</nav>
