@font-face {
  font-family: "Bebas Neue";
  src: url("/assets/fonts/bebasneue.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Courier Prime";
  src: url("/assets/fonts/courier.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/roboto-mono.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-yellow: #fcee09;
  --secondary-yellow: #f3ec1a;
  --tertiary-yellow: #f6eb16;
  --hover-magenta: #fb8dff;
  --background-blue: #2674bb;
  --confirmation-red: #e41f1a;
  --message-error-red: #ff0000;
  --text-white: #ffffff;
  --text-gray: #666;
  --text-light-gray: #ccc;
  --input-border: #ffffff;
  --text-dark: #333;
  --border-light: rgba(255, 255, 255, 0.1);
  --shadow-confirmation: rgba(228, 31, 26, 0.3);
  --shadow-yellow: rgba(252, 238, 9, 0.3);
}
