---

---

<div class="home-container">
  <img
    src="/assets/images/product-management-logotipo.png"
    alt="Logo"
    class="logo"
    style="margin: 0 auto 0rem auto;"
  />
  <!-- Title -->
  <h1 class="home-title">Registro de produtos</h1>
  <p class="home-desc">Bem-vindo, selecione uma opção</p>

  <!-- Buttons -->
  <div class="home-btns">
    <a href="/login" class="home-btn login">Entrar</a>
    <a href="/register" class="home-btn register">Registrar-se</a>
  </div>
</div>
