---
import "../styles/global.scss";

interface LayoutProps {
  title?: string;
}

const props = Astro.props as LayoutProps;
const title = props.title ?? "Product Management";
---

<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/jpeg" href="/favicon.png" />
    <title>{title}</title>
  </head>
  <body class="layout-body">
    <!-- Simulação do celular -->
    <main class="layout-main">
      <slot />
    </main>
  </body>
</html>
