---
interface Props {
  text?: string;
}

const { text = "COMING SOON..." } = Astro.props;
---

<p class="coming-soon-text">{text}</p>

<style lang="scss">
  .coming-soon-text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #493f3e;
  }
</style>
