---
import { getCollection, type CollectionEntry } from "astro:content";
import ProjectListing from "../../../components/ProjectListing.astro";

const projects: CollectionEntry<"projects">[] = await getCollection("projects");
---

<section id="work" class="projects">
  <div class="content-wrapper">
    <h2>Projetos em Destaque</h2>

    <div class="projects__grid">
      {
        projects.map((project) => {
          return <ProjectListing project={project} />;
        })
      }
    </div>
  </div>
</section>

<style>
  .projects__grid {
    display: grid;
    gap: 2.5rem;
  }

  @media (width >= 768px) {
    .projects__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: clamp(1.5rem, 3vw, 2.25rem);
    }
  }
</style>
