---
import Section from "../../components/Section.astro";
import Hero from "./sections/hero/Hero.astro";
import About from "./sections/About.astro";
import Projects from "./sections/Projects.astro";
import Articles from "./sections/Articles.astro";
import Testimonial from "./sections/Testimonial.astro";
import GithubStats from "./sections/GithubStats.astro";
import TechGalaxy from "./sections/tech-galaxy/TechGalaxy.astro";
---

<Hero />

<Section id="about" isZebra={true}>
  <About />
</Section>

<Section id="stack">
  <TechGalaxy />
</Section>

<Section id="work" isZebra={true}>
  <Projects />
</Section>

<Section id="articles">
  <Articles />
</Section>

<Section id="github" isZebra={true}>
  <GithubStats />
</Section>

<Section id="testimonials">
  <Testimonial />
</Section>
