---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/hero/Hero.astro";
import SocialNav from "../components/social-nav/SocialNav.astro";
import Logo from "../components/logo/Logo.astro";
import Discography from "../components/discography/Discography.astro";
import Newsletter from "../components/newsletter/Newsletter.astro";
import Tour from "../components/tour/Tour.astro";
---

<BaseLayout title="ATARASHII GAKKO!">
  <main>
    <Hero>
      <SocialNav />
      <Logo />
    </Hero>
    <Tour />
    <Discography />
    <Newsletter />
  </main>
</BaseLayout>
