.discography {
  background-color: var(--background-blue);
  min-height: 100vh;

  @media (max-width: 768px) {
    padding: 3rem 1rem;
    padding-top: 1.5rem;
    padding-bottom: 0;
  }
}

.discography__container {
  max-width: 1200px;
  margin: 0 auto;
}

.discography__music {
  text-align: center;
  text-transform: capitalize;
}

.discography__title {
  font-family: "Courier Prime", "courier", monospace;
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--tertiary-yellow);
  margin-bottom: 1rem;
  letter-spacing: 0.18em;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.discography__title--music {
  font-size: 2rem;
  text-transform: uppercase;
}

.discography__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin-top: 3rem;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin: 1rem auto 0;
    padding-inline: 0.3rem;
  }
}

.discography__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discography__image-container {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  display: block;
  text-decoration: none;

  &:hover {
    transform: translateY(-10px);
  }
}

.discography__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.discography__item-title-link {
  text-decoration: none;
  color: inherit;

  &:hover {
    .discography__item-title {
      color: var(--primary-yellow);
    }
  }
}

.discography__item-title {
  font-family: "Courier Prime", "courier", monospace;
  font-weight: 400;
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--secondary-yellow);
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  line-height: 1.4;
  letter-spacing: 0.02em;
  transition: color 0.2s ease-in-out;

  @media (max-width: 768px) {
    font-size: 0.9375rem;
    padding-top: 1.5rem;
  }
}

.desktop-title {
  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}

.mobile-title {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}
