.hero-banner {
  height: 120vh;
  background-image: url("/assets/images/hero.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1.5rem;

  // MOBILE
  @media (max-width: 768px) {
    height: 80vh;
    padding: 1rem;
    background-position: center center;
    justify-content: center;
    align-items: flex-start;
  }

  @media (max-width: 480px) {
    height: 29vh;
  }
}
