---
import "../../styles/info.scss";
---

<div class="bottom">
  <div class="section-header short">3期 Blu-ray</div>
  <div class="section-content">
    <h3 class="post-title">邪神ちゃんドロップキックX Blu-ray</h3>
    <h2>邪神ちゃんドロップキックX Blu-ray Vol.1</h2>

    <p></p>

    <img
      src="/assets/images/disc/info/jashinX_sellBD01.jpg"
      width="430"
      height="540"
    />

    <p>
      発売日： 2022年10月21日（金）<br />価格： ￥19,800（税込）<br />品番：
      HPXR-1937<br />収録内容： 第1話～第6話収録
    </p>

    <h3>■映像特典</h3>

    <ul>
      <li>まめアニメ 誕生日編</li><li>
        『邪神ちゃんドロップキックＸ』声優オーディション
        エキュートを勝ちとるのは誰だ!? 略して…エキュ誰!?
      </li><li>ノンクレジットOP</li>
    </ul>

    <h3>■仕様・封入特典</h3>

    <ul>
      <li>キャラクターデザイン・総作画監督古賀誠描き下ろしスリーブケース</li><li
      >
        特製ブックレット
      </li>
    </ul>

    <h2>
      <strong>邪神ちゃんドロップキックX Blu-ray Vol.2&nbsp;</strong>
    </h2>

    <p></p>

    <img
      src="/assets/images/disc/info/jashinX_sellBD02.jpg"
      width="420"
      height="528"
    />

    <p>
      発売日： 2022年11月18日（金）<br />価格： ￥19,800（税込）<br />品番：
      HPXR-1938<br />収録内容： 第7話～第12話収録
    </p>

    <h3>■映像特典</h3>

    <ul>
      <li>まめアニメSP 釧路炉端焼き</li><li>
        イラストコンテスト結果発表映像
      </li><li>ノンクレジットED</li>
    </ul>

    <h3>■仕様・封入特典</h3>

    <ul>
      <li>総作画監督代見裕美描き下ろしジャケットスリーブケース</li><li>
        特製ブックレット
      </li>
    </ul>

    <blockquote class="block-quote">
      <p>※商品の仕様及び特典は変更になる場合がございます</p>
    </blockquote>

    <p class="has-text-align-center">
      発売元：メディアネットピクチャーズ
      販売元：株式会社ハピネット・メディアマーケティング
    </p>

    <p class="has-text-align-center">
      ©ユキヲ・COMICメテオ／邪神ちゃんドロップキックX製作委員会
    </p>

    <img
      src="/assets/images/disc/info/jashinX_sellBD03.png"
      height="874"
      width="865"
    />
  </div>
</div>
