---
import "../../styles/info.scss";
---

<div class="bottom">
  <div class="section-header short">2期 Blu-ray</div>
  <div class="section-content">
    <h3 class="post-title">邪神ちゃんドロップキック’ Blu-ray</h3>

    <div class="img-row-auto">
      <img src="/assets/images/disc/info/jashin_01.jpg" />
      <img src="/assets/images/disc/info/jashin_02.jpg" />
      <img src="/assets/images/disc/info/jashin_03.jpg" />
    </div>

    <img
      src="/assets/images/disc/info/rittaizu_sample.jpg"
      width="806"
      height="493"
    />

    <div>
      <div>
        <img src="/assets/images/disc/info/botton_sample_01.jpg" />
      </div>

      <div>
        <img src="/assets/images/disc/info/botton_sample_02.jpg" />
      </div>

      <div>
        <img src="/assets/images/disc/info/botton_sample_03.jpg" />
      </div>
    </div>

    <div style="height:32px" aria-hidden="true"></div>

    <div>
      <div>
        <div>
          <a
            class="btn-amazon btn"
            href="https://www.amazon.co.jp/s?k=B0872MKL43%7C+B0872MH5J4%7C+B0872KZTD4%7C+B087JPTDBP"
            target="_blank"><strong>Amazon.co.jp</strong>で購入</a
          >
        </div>

        <p class="has-text-align-center">
          ●アマゾン：全巻購入特典<br /> 【Amazon.co.jp限定】全巻収納BOX
        </p>
      </div>

      <div>
        <div>
          <a
            class="btn-sofmap btn"
            href="https://a.sofmap.com/search_result.aspx?mode=SEARCH&styp=p_bar&product_type=ALL&gid=&keyword=%8E%D7%90_%82%BF%82%E1%82%F1&GO_L=%26%2361442%3B+%8C%9F%8D%F5"
            target="_blank"><strong>Sofmap.com</strong>で購入</a
          >
        </div>

        <p class="has-text-align-center">
          ●ソフマップ：全巻購入特典<br /> オリジナル缶バッジセット（100mm）
        </p>
      </div>
    </div>

    <hr />

    <h2>
      <strong>邪神ちゃんドロップキック’ Blu-ray Vol.1【完全生産限定版】</strong>
    </h2>

    <p>
      発売日：2020年8月5日（水）<br />価格：￥12,000（税抜）+税<br
      />品番：HPXR-614<br />収録内容：第1話～第4話収録
    </p>

    <h3>■映像特典</h3>

    <ul>
      <li>邪神ちゃん大喜利発表会Vol.1</li><li>
        邪神ちゃんイラスト集Vol.1（コメント付き）
      </li><li>ノンテロップオープニングムービー</li>
    </ul>

    <h3>■封入特典</h3>

    <p>【完全生産限定版特典】</p>

    <ul>
      <li>キャラクターデザイン古賀誠描き下ろしスリーブケース</li><li>
        邪神ちゃんドロップキック’特製人狼ゲームスペシャルカード
      </li><li>ブックレット</li>
    </ul>

    <h2>
      <strong>邪神ちゃんドロップキック’ Blu-ray Vol.２【完全生産限定版】</strong
      >
    </h2>

    <p>
      発売日：2020年9月2日（水）<br />価格：￥12,000（税抜）+税<br
      />品番：HPXR-615<br />収録内容：第5話～第8話収録
    </p>

    <h3>■映像特典</h3>

    <ul>
      <li>邪神ちゃん大喜利発表会Vol.2</li><li>
        邪神ちゃんイラスト集Vol.2（コメント付き）
      </li><li>ノンテロップエンディングムービー</li>
    </ul>

    <h3>■封入特典</h3>

    <p>【完全生産限定版特典】</p>

    <ul>
      <li>キャラクターデザイン古賀誠描き下ろしスリーブケース</li><li>
        邪神ちゃんドロップキック’特製人狼ゲームスペシャルカード
      </li><li>ブックレット</li>
    </ul>

    <h2>
      <strong>邪神ちゃんドロップキック’ Blu-ray Vol.3【完全生産限定版】</strong>
    </h2>

    <p>
      発売日：2020年10月2日（金）<br />価格：￥12,000（税抜）+税<br
      />品番：HPXR-616<br />収録内容：第9話～第11話
    </p>

    <h3>■映像特典</h3>

    <ul>
      <li>邪神ちゃん大喜利発表会Vol.3</li><li>
        邪神ちゃんイラスト集Vol.3（コメント付き）
      </li><li>PV、トレーラー集</li>
    </ul>

    <h3>■封入特典</h3>

    <p>【完全生産限定版特典】</p>

    <ul>
      <li>キャラクターデザイン古賀誠描き下ろしスリーブケース</li><li>
        邪神ちゃんドロップキック’特製人狼ゲームスペシャルカード
      </li><li>ブックレット</li>
    </ul>

    <blockquote class="block-quote">
      <p>※※商品の仕様及び特典は変更になる場合がございます。</p>
    </blockquote>
  </div>
</div>
