---
import JdBaseLayout from "../../layouts/jd-base-layout.astro";

const pageTitle = "Jashinchan - Business Info";
---

<JdBaseLayout title={pageTitle}>
  <h1>hello world - business info</h1>
</JdBaseLayout>
