---
import ComingSoon from "@components/ComingSoon.astro";

const ttlGoods = "/assets/images/goods/hero/ttl_goods.png";
const ttlSpGoods = "/assets/images/goods/hero/ttl_sp_goods.png";
---

<header class="hero-intro">
  <h1 class="page-title">
    <picture>
      <source srcset={ttlSpGoods} media="(max-width: 750px)" />
      <img src={ttlGoods} alt="GOODS" />
    </picture>
  </h1>

  <ComingSoon />
</header>
