---
const ttlGoods = "/assets/images/goods/hero/ttl_goods.png";
const ttlSpGoods = "/assets/images/goods/hero/ttl_sp_goods.png";
---

<header class="hero-intro">
  <h1 class="page-title">
    <picture>
      <source srcset={ttlSpGoods} media="(max-width: 750px)" />
      <img src={ttlGoods} alt="GOODS" />
    </picture>
  </h1>

  <p class="centered">COMING SOON...</p>
</header>

<style lang="scss">
  .centered {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #493f3e;
  }
</style>
