---
import Section from "../../components/Section.astro";
import ProfileHero from "./sections/ProfileHero.astro";
import ProfileEducation from "./sections/ProfileEducation.astro";
---

<ProfileHero />

<Section id="education">
  <ProfileEducation />
</Section>

<Section id="education" isZebra={true}>
  <div>
    <h3>Seção em Construção</h3>
    <p>
      Estou preparando um conteúdo detalhado sobre minha trajetória acadêmica.
      Novidades em breve!
    </p>
  </div>
</Section>
