---
import Section from "../../components/Section.astro";
import ProfileHero from "./sections/ProfileHero.astro";
import ProfileEducation from "./sections/ProfileEducation.astro";
import ProfileAchievements from "./sections/ProfileAchievements.astro";
---

<ProfileHero />

<Section id="education">
  <ProfileEducation />
</Section>

<Section id="achievements" isZebra={true}>
  <ProfileAchievements />
</Section>
