#hero-header {
  .nav-img {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: auto;
    user-select: none;
  }

  .twitter-link {
    @apply transition-transform duration-300;
    &:hover {
      transform: scale(1.05);
    }
  }

  .character-img {
    width: 550px;
    height: auto;
    max-width: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
