---
const ttlDisc = "/assets/images/disc/info/ttl_disc.png";
const ttlSpDisc = "/assets/images/disc/info/ttl_sp_disc.png";
---

<header class="hero-intro">
  <h1 class="page-title">
    <picture>
      <source srcset={ttlSpDisc} media="(max-width: 750px)" />
      <img src={ttlDisc} alt="CD & DVD & BD" />
    </picture>
  </h1>
</header>
