---
import "../../styles/business-info.scss";
---

<img
  src="/assets/images/business-info/info/03.png"
  class="section-divider-img"
  alt="Section 03"
/>

<div class="tabs-container" id="example3">
  <p>COMING SOON...</p>
</div>
