---
import "../../styles/business-info.scss";
---

<img
  src="/assets/images/business-info/info/02.png"
  class="section-divider-img"
  alt="Section 02"
/>

<div class="tabs-container" id="example2">
  <p>COMING SOON...</p>
</div>
