---
console.log("[Page] Dados recebidos do middleware:", Astro.locals);
console.log("[Page] Mensagem:", Astro.locals.userMessage());

const name = Astro.locals.name;
const userMessage = Astro.locals.userMessage;
---

<h1>Middleware Page</h1>
<p>Hi, {name}.</p>
<p>{userMessage}</p>
