---
import JdBaseLayout from "../../layouts/jd-base-layout.astro";

const pageTitle = "Jashinchan - Character";
---

<JdBaseLayout title={pageTitle}>
  <h1>hello world - character</h1>
</JdBaseLayout>
