---
interface Props {
  label: string;
  url: string;
  image: string;
  index: number;
}

const { label, url, image, index } = Astro.props;

const variant = index >= 0 && index <= 2 ? index : "default";
---

<a href={url} target="_blank" class={`card-v2 card-v2--${variant}`}>
  <div class="content">
    <img src={image} alt="" class="logo" />
    <span class="label">{label}</span>
  </div>
</a>

<style lang="scss">
  .card-v2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    text-decoration: none;
    position: relative;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    border-right: 0px solid var(--gintama-cyan);

    &:hover {
      z-index: 10;
      transform: translateX(100px) skewX(-4deg);
      filter: brightness(1.1);
      box-shadow: 20px 0 40px rgba(0, 0, 0, 0.4);
      border-right: 8px solid white;

      .label {
        transform: scale(1.1);
        letter-spacing: 4px;
      }
    }
  }

  .card-v2--0 {
    background-color: #5ba5d9;
  }

  .card-v2--1 {
    background-color: #2e51a2;
  }

  .card-v2--2 {
    background-color: #14181c;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 25px;
    transition: transform 0.4s ease;
  }

  .logo {
    width: 65px;
    height: 65px;
    object-fit: contain;
  }

  .label {
    color: white;
    font-family: "Lora", serif;
    font-size: 2.2rem;
    font-weight: 400;
    transition: all 0.4s ease;
    display: inline-block;
  }

  @media (max-width: 768px) {
    .card-v2 {
      padding: 40px 20px;
      &:hover {
        transform: translateY(-20px);
        border-right: none;
        border-top: 5px solid white;
      }
    }
    .label {
      font-size: 1.6rem;
    }
    .logo {
      width: 45px;
    }
  }
</style>
