---
import "@fontsource/poppins";
import "../styles/global.css";
import Header from "../components/Header";
import { ClientRouter } from "astro:transitions";
import Contact from "../sections/Contact.astro";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Alan Ryan | Desenvolvimento de Sistemas e Soluções Web",
  description = "Portfólio profissional de Alan Ryan — criação e desenvolvimento de soluções digitais sob medida, com foco em performance e tecnologia web",
} = Astro.props;
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>{title}</title>
    <script
      src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js"
      defer></script>
    <script
      src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/ScrollTrigger.min.js"
      defer></script>
    <ClientRouter />
  </head>
  <body>
    <Header client:load />
    <slot />
    <Contact />

    <script src="/scripts/animations.js" is:inline></script>
  </body>
</html>
