---
interface Props {
  id?: string;
  isZebra?: boolean;
}

const { id, isZebra = false } = Astro.props;
---

<div class:list={["section-outer", { "section-zebra": isZebra }]}>
  <section id={id} class="standard-section">
    <div class="content-wrapper">
      <slot />
    </div>
  </section>
</div>

<style>
  .standard-section {
    padding-block: clamp(4rem, 8vw, 7rem);
    position: relative;
  }
</style>
