h2 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  background: linear-gradient(#61ac69, #b4d69a);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  margin: 0;
  padding: 25px;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  margin: 15px 0;
}

img {
  margin: 0 0 1rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:visited,
a:hover,
a:active {
  color: #fb4c69;
}

a:hover {
  text-decoration: underline;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

blockquote {
  margin: 0 0 1rem;
}

.section-content {
  background-color: #fffef1;
  padding: 25px;
  border: 3px solid #b4d69a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  word-break: break-all;
  word-wrap: break-word;
}

.section-header.short {
  padding: 10px;
  width: 30%;
  min-width: 200px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(#61ac69, #b4d69a);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  margin: 0;
}

.post-title {
  font-size: 20px;
  font-weight: bold;
  color: #fb4c69;
  border-bottom: 2px dotted #62ad6a;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.has-text-align-center {
  text-align: center;
}

.img-center {
  display: block;
  margin-inline: auto;
}

.bottom {
  margin-bottom: 60px;
}

.btn {
  border-radius: 9999px;
  box-shadow: none;
  padding: calc(0.667em + 2px) calc(1.333em + 2px);
  font-size: 1.125em;
}

.btn-amazon {
  background-color: #fcb900;
}

.btn-sofmap {
  background-color: #0693e3;
}

.btn-zamb {
  color: #313131;
  background-color: #cf2e2e;

  &:visited,
  &:hover,
  &:active {
    color: #313131;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}

.img-row-auto {
  display: flex;

  img {
    flex: 1;
    width: 0;
    min-width: 0;
    height: auto;
    object-fit: contain;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    img {
      width: 100%;
    }
  }
}
