@font-face {
  font-family: "Noto Sans JP";
  src: url("/assets/fonts/sub_NotoSansJP-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/assets/fonts/sub_NotoSansJP-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/assets/fonts/sub_NotoSansJP-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

$primary-color: #e65064;
$bg-color: #ffffff;
$text-color: #212529;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body {
  font-family:
    "Hiragino Sans", "Noto Sans JP", "Segoe UI", Roboto, Arial, "Noto Sans",
    sans-serif;
  background-color: $bg-color;
  color: $text-color;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 auto;
}

@media (min-width: 1440px) {
  html,
  body {
    background-size: 100%;
  }
}

@media (max-width: 1440px) {
  html,
  body {
    min-width: 100vw;
  }
}
