---
import "../../styles/info.scss";
---

<div class="bottom">
  <div class="section-header short">ED</div>
  <div class="section-content">
    <h3 class="post-title">【6月10日リリース】「Love Satisfaction」ZAMB</h3>

    <img
      src="/assets/images/disc/info/lover-satisfaction-zamb.jpg"
      height="400"
    />

    <h3><strong>「Love Satisfaction」</strong>ZAMB</h3>

    <p>作詞：図画泉美 作曲：木田竜也 編曲：木田竜也、GAK、長戸大幸</p>

    <p><strong>2020年6月10日(水)発売</strong>！</p>

    <hr />

    <h4>【初回生産限定盤】</h4>

    <p>
      VVCL1690-91（CD＋DVD） ￥1400＋税<br />※「Love
      Satisfaction」ミュージックビデオ収録
    </p>

    <h4>【通常盤】</h4>

    <p>VVCL1692（CD only） ￥1000＋税</p>

    <h4>【期間生産限定盤（アニメ盤）】</h4>

    <p>
      VVCL1693-94（CD＋DVD）￥1500＋税<br
      />※TVアニメ「邪神ちゃんドロップキック’」ノンクレジットエンディング収録<br
      />※描き下ろしデジパック仕様
    </p>

    <a target="_blank" class="btn-zamb btn" href="https://zamb.jp/disc.html"
      ><strong>詳しくはこちら</strong></a
    >

    <hr />

    <h4>MV（SPOT）</h4>

    <div class="has-text-align-center">
      <iframe
        src="https://www.youtube.com/embed/fJImcPFnIPI"
        class="video-embed"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>
</div>
