---
import "../../styles/disc.scss";
---

<section>
  <div class="section-header short">OP</div>
  <div class="section-content">
    <h3 class="post-title">【5月27日リリース】「時としてバイオレンス」halca</h3>

    <img
      src="http://jashinchan.com/wp-content/uploads/2020/06/1590972876643-1024x911.jpg"
      height="400"
    />

    <h3><strong>「時としてバイオレンス」 </strong>halca （SACRA MUSIC）</h3>

    <p>作詞：宮嶋淳子 作曲：原一博 編曲：川崎智哉</p>

    <p>
      <strong>2020年4月6日先行配信スタート</strong>、<strong
        >5月27日(水)発売</strong
      >！
    </p>

    <hr />

    <h4>【初回生産限定盤】</h4>

    <p>
      VVCL-1635～1636（CD＋DVD） 1,600円＋税<br
      />※「時としてバイオレンス」ミュージックビデオ収録
    </p>

    <h4>【通常盤】</h4>

    <p>VVCL-1637（CD only） 1,200円＋税</p>

    <h4>【期間生産限定盤（アニメ盤）】</h4>

    <p>
      VVCL-1638～1639（CD＋DVD） 1,600円＋税<br
      />※TVアニメ「邪神ちゃんドロップキック‘」ノンクレジットオープニング収録<br
      />※描き下ろしデジパック仕様
    </p>

    <a
      target="_blank"
      class="btn-halcao btn"
      href="https://halcaofficial.com/disco/">&nbsp;詳しくはこちら</a
    >

    <hr />

    <h4>MV（SPOT）</h4>

    <div class="has-text-align-center">
      <iframe
        src="https://www.youtube.com/embed/2kThMJgbfpc"
        class="video-embed"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>

    <p></p>
  </div>
</section>
