---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <div class="flex min-h-[70vh] items-center justify-center">
    <h2 class="text-3xl font-semibold text-neutral-900">Hello World!</h2>
  </div>
</BaseLayout>
