# Chave utilizada para autenticação da API
API_KEY=sua_chave_aqui

# Banco de Dados (Local: file:local.db | Remoto: libsql://...)
DATABASE_URL=libsql://seu-banco.turso.io

# Token de acesso (Apenas para banco remoto)
DATABASE_AUTH_TOKEN=seu_token_turso_aqui
